// px to rem
@function rem($pixels, $context: $mainFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return $pixels / $context * 1rem;
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin placeholder {
  ::-webkit-input-placeholder {
    @content;
  }
  :-moz-placeholder {
    @content;
  }
  ::-moz-placeholder {
    @content;
  }
  :-ms-input-placeholder {
    @content;
  }
}

// Default: For modern format fonts
// Files Required: .woff, .woffs

@mixin font-face($font-family, $file-path, $weight: normal, $style: normal, $asset-pipeline: false) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;

    src: url("#{$file-path}.woff") format("woff"), url("#{$file-path}.woff2") format("woff2");
  }
}

// For Modern format fonts + .svg
// Files Required: .woff, .woffs, .svg

// @mixin font-face(
//   $font-family,
//   $file-path,
//   $weight: normal,
//   $style: normal,
//   $asset-pipeline: false
// ) {
//   @font-face {
//     font-family: $font-family;
//     font-weight: $weight;
//     font-style: $style;

//     src: url("#{$file-path}.eot?#iefix") format("embedded-opentype"),
//       url("#{$file-path}.woff") format("woff"),
//       url("#{$file-path}.woff2") format("woff2"),
//       url("#{$file-path}.svg") format("svg"),
//       url("#{$file-path}.ttf") format("truetype");
//   }
// }

// For Modern format fonts + .svg
// Files Required: eot. .woff, .woffs, .svg, .ttf

// @mixin font-face(
//   $font-family,
//   $file-path,
//   $weight: normal,
//   $style: normal,
//   $asset-pipeline: false
// ) {
//   @font-face {
//     font-family: $font-family;
//     font-weight: $weight;
//     font-style: $style;
//     src: url("#{$file-path}.eot?#iefix") format("embedded-opentype"),
//       url("#{$file-path}.woff") format("woff"),
//       url("#{$file-path}.woff2") format("woff2"),
//       url("#{$file-path}.svg") format("svg"),
//       url("#{$file-path}.ttf") format("truetype");
//   }
// }
